<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 로그 파일 저장 경로 지정 -->
    <property name="LOG_PATH" value="C:/Users/98nob/IdeaProjects/aoplog-web/logs" />
    <property name="LOG_FILE" value="aoplog" />

    <!-- 파일 출력 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 로그 레벨 설정 (루트 기준) -->
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>
